{% extends "base.html" %}
{% block content %}
<div class="container_index">
  <div class="container__info">
    <h1 class="info__title">¡Bienvenido a Manga Store!</h1>
    <p class="info__content">
      Somos tu tienda en línea de confianza para todos tus mangas favoritos. Desde los clásicos atemporales hasta las
      series más recientes, tenemos todo lo que necesitas para satisfacer tu amor por la lectura de manga.
      <br>
      En Manga Store, entendemos la importancia de tener acceso a los títulos más populares y solicitados. Es por eso
      que
      nos esforzamos por mantener una amplia variedad de mangas en stock, desde los más vendidos hasta los títulos menos
      conocidos. Nuestro equipo está comprometido a ofrecerte siempre la mejor selección de mangas para que puedas
      encontrar fácilmente lo que estás buscando.
      <br>
      Además, ofrecemos envío gratuito en todos los pedidos y una experiencia de compra fácil y segura. Sabemos que
      comprar mangas es más que una simple transacción, es una pasión. Por eso, estamos dedicados a hacer de tu
      experiencia de compra con nosotros una experiencia excepcional.
      <br>
      No importa si eres un ávido coleccionista de mangas o simplemente estás buscando una nueva serie para disfrutar,
      Manga Store es el lugar perfecto para ti. ¡Explora nuestra selección y encuentra tu próxima lectura favorita hoy
      mismo!
    </p>
  </div>
  <div class="container__hero">
    <img class="img_gero" src="../static/img/fondo.jpg" alt="">
  </div>
</div>
{% endblock %}