{% extends "base.html" %}
{% block content %}
<div class="container-form" style="width: 75%; margin-left: auto; margin-right: auto; margin-top: 3rem;">
  <form name="sent" action="/insertManga" id="form1" method="POST" style="width: 50%;">
    <h1 class="info__title">Registro de Manga</h1>
    <div class="mb-3">
      <input class="form-control" type="text" name="nombre" placeholder="TITULO DE LA OBRA" autofocus="">
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" name="autor" placeholder="AUTOR DE LA OBRA" autofocus="">
    </div>
    <div class="mb-3">
      <input class="form-control" type="number" name="tomo" placeholder="NÚMERO DE VOLUMEN DE LA OBRA" autofocus="">
    </div>
    <div class="mb-3">
      <input class="form-control" type="number" name="precio" placeholder="COSTO DE LA OBRA" autofocus="">
    </div>
    <div class="mb-3">
      <select class="form-select" id="exampleSelect1" name="estatus">
        <option>EXISTENCIA</option>
        <option>AGOTADO</option>
      </select>
    </div>
    <div class="mb-3">
      <input class="form-control" type="file" id="formFile" name="cover">
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
      <input type="submit" id="reg-alum" name="registra" value="REGISTRAR" class="btn btn-primary" />
      <a href="{{ url_for('main.admin') }}" class="btn btn-success">REGRESAR</a>
    </div>
  </form>
</div>
</div>
{% endblock %}