{% extends "base.html" %}
{% block content %}
<h1 class="info__title">!Bienvenido <b style="color: #58D68D;"> {{ name }}</b>!</h1>
<div class="container_mangas"
  style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; width: 100vw; justify-content: center;">
  {% for manga in mangas %}
  <div class="card md-1 text-white bg-dark"
    style="max-width: 540px; width: 10rem; margin: 0.5rem;flex-wrap: wrap; align-items: center; width: 100vw; justify-content: center;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../static/img/{{ manga.name }}_{{ manga.tomo }}.png" class="img-fluid rounded-start"
          alt="{{ manga.name }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <li style="list-style: none; align-items: center; margin-top: 1.5rem; justify-content: center;">
            <ul><b>NOMBRE:</b><b style="color: #58D68D;"> {{ manga.name }}</b></ul>
            <ul><b>AUTOR:</b><b style="color: #58D68D;"> {{ manga.author }}</b></ul>
            <ul><b>NO.TOMO:</b><b style="color: #58D68D;"> {{ manga.tomo }}</b></ul>
            <ul><b>PRECIO:</b><b style="color: #58D68D;"> ${{ manga.price }}</b></ul>
            <ul><b>ESTATUS:</b>{% if manga.exist == 'AGOTADO' %}<b style="color: red;"> {{ manga.exist }}</b>{% else
              %}<b style="color: blue;"> {{ manga.exist }}</b>{% endif %}
            </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}