{% extends "base.html" %}
{% block content %}
<div class="container-form" style="width: 75%; margin-left: auto; margin-right: auto; margin-top: 3.5rem;">
  <form name="sent" id="form1" method="POST" style="width: 50%;">
    <h2 class="title-form" style="text-align: center; font-weight: bold; ">MODIFICACIÓN DE MANGA</h2>
    <div class="row control-group">
      <div class="form-group col-xs-12 float-label-form-group controls">
        <input type="text" class="form-control-plaintext" id="id" name="id" value="{{ id }}">
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 float-label-form-group controls">
        <input type="text" class="form-control-plaintext" id="nombre" name="nombre" value="{{ nombre }}">
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 float-label-form-group controls">
        <input type="text" class="form-control-plaintext" id="autor" name="autor" value="{{ autor }}">
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 float-label-form-group controls">
        <input type="number" class="form-control-plaintext" id="tomo" name="tomo" value="{{ tomo }}">
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 float-label-form-group controls">
        <input type="number" class="form-control-plaintext" id="precio" name="precio" value="{{ precio }}">
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 float-label-form-group controls">
        <input type="text" class="form-control-plaintext" id="estatus" name="estatus" value="{{ estatus }}">
      </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
      <input type="submit" id="reg-alum" name="registra" value="MODIFICAR" class="btn btn-primary" />
      <a href="{{ url_for('main.admin') }}" class="btn btn-success">REGRESAR</a>
    </div>
  </form>
</div>
</div>
{% endblock %}